<footer>
    <div class="container-fluid text-white-50 bg-dark text-center" style="height:max-content;font-size:17px;min-width:max-content;max-width:150%;">
    <div class="row" >
      <div class="col" ><div class="fCBLeft">
          <p class="font0 btLogo "><img src="https://www.anda-chem.com/themes/tlk/public/assets/img/common/topLogo.png" style="width:170px;height:60px; margin-left:110px" alt=""></p>
              <p class="doTime ">Monday——Saturday</p>
              <p class="doTime ">AM 09:00 - PM 18:00</p>
              <div class="icons " style="display:flex;margin-left:150px">
            <div class="facebook"><p> <a href="#"><i class="fa-solid fa-envelope"></i></a></p></div>
            <div class="gmail" style="padding-left:15px;"><p> <a href="#"><i class="fa-brands fa-facebook"></i></a></p></div>
            </div>
          
          </div></div>
      <div class="col  text-start" style="margin-left:500px;"><div class="fCBCenter">
              <p class="pt-3">Name: Jamindar Makam</p>
              <p>Address:-KrishChem, Tadipatri,Anantapur District</p>
              <p>State: Andhra Pradesh</p>
              <p>Country: India</p>
          </div></div>
      
    </div>
    </div>
    </footer>