<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/css/bootstrap.min.css"
      rel="stylesheet"
    />
    <link
      href="https://getbootstrap.com/docs/5.3/assets/css/docs.css"
      rel="stylesheet"
    />
    <title>Bootstrap Example</title>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/js/bootstrap.bundle.min.js"></script>
    <script
      src="https://kit.fontawesome.com/787cba0005.js"
      crossorigin="anonymous"
    ></script>
  </head>
  <body class="p-3 m-0 border-0 bd-example m-0 border-0 bd-example-row">
    <!-- Example Code -->

    <div class="container-fluid text-center text-white bg-light" style="font-family:'Poppins',sans-serif; background:linear-gradient(to right,#24243e,#302b63,#0f0c29);">
      <div class="row">
        <div class="col">
          <p class="font0 btLogo">
            <img
              src="https://www.anda-chem.com/themes/tlk/public/assets/img/common/topLogo.png"
              style="width: 10rem; height: 5 rem; margin-left: 20 rem"
              alt=""
            />
          </p>
          <p style="font-size: 2rem; font-weight: bold">Monday to Saturday</p>
          <p style="font-size: 2rem; font-weight: bold">
             09:00 AM- 18:00 PM
          </p>
         <p>
                <a href="#"><i class="fa-solid fa-envelope"></i></a>
                <a href="#" style="margin-left:5px;"><i class="fa-brands fa-facebook"></i></a>
              </p>
            
            
              
            
          
        </div>
        <div class="col">
          <p style="font-size: 2rem; font-weight: bold;">
            Name: Jamindar Makam
          </p>
          <p style="font-size: 2rem; font-weight: bold;">
            Address:-KrishChem, Tadipatri,Anantapur District
          </p>
          <p style="font-size: 2rem; font-weight: bold;">Post-Code:515411</p>
          <p style="font-size: 2rem; font-weight: bold;">
            State: Andhra Pradesh
          </p>
          <p style="font-size: 2rem; font-weight: bold;">Country: India</p>
        </div>
        


      </div>
    </div>
   <div class="container-fluid text-center text-white bg-light" style="font-family:'Poppins',sans-serif; background:linear-gradient(to right,#24243e,#302b63,#0f0c29);">
      <div class="row">
        <div class="col">
          <p class="font0 btLogo">
            <img
              src="https://www.anda-chem.com/themes/tlk/public/assets/img/common/topLogo.png"
              style="width: 10rem; height: 5 rem; margin-left: 20 rem"
              alt=""
            />
          </p>
          <p style="font-size: 2rem; font-weight: bold">Monday to Saturday</p>
          <p style="font-size: 2rem; font-weight: bold">
             09:00 AM- 18:00 PM
          </p>
         <p>
                <a href="#"><i class="fa-solid fa-envelope"></i></a>
                <a href="#" style="margin-left:5px;"><i class="fa-brands fa-facebook"></i></a>
              </p>
            
            
              
            
          
        </div>
        <div class="col">
          <p style="font-size: 2rem; font-weight: bold;">
            Name: Jamindar Makam
          </p>
          <p style="font-size: 2rem; font-weight: bold;">
            Address:-KrishChem, Tadipatri,Anantapur District
          </p>
          <p style="font-size: 2rem; font-weight: bold;">Post-Code:515411</p>
          <p style="font-size: 2rem; font-weight: bold;">
            State: Andhra Pradesh
          </p>
          <p style="font-size: 2rem; font-weight: bold;">Country: India</p>
        </div>
        


      </div>
    </div>

  </body>
</html>
