<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/css/bootstrap.min.css" rel="stylesheet">
    <link href="https://getbootstrap.com/docs/5.3/assets/css/docs.css" rel="stylesheet">
    <title>KrishChem Products</title>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/js/bootstrap.bundle.min.js"></script>
    <script
      src="https://kit.fontawesome.com/787cba0005.js"
      crossorigin="anonymous"
    ></script>
    <style>

.starter .starter-img {
  width:max-content;
  height: 100px;
  animation-name: example;
  animation-duration: 4s;
  display: block;
  align-items: center;
  margin-top:2px;
  
}
.starter .company-name
{
font-size:40px;
text-align:center;
animation-name:text-example;
animation-duration:4s;
display:absolute;
color:white;
animation-fill-mode: forwards;
}
@keyframes example {
  from {opacity:0;}
  to {opacity: 1;}
}

@keyframes text-example
{
to{transform:translate(0px,-150px);}
}




.dropdown:hover .dropdown-menu{
    display: flex;
    float:left;
   
}

.dropdown-item:hover{
  background-color: blue;
  transition-duration: 0.5s;
  display:flex;
  float:left;
 
  
}


    </style>
  </head>
  <body class="p-3 m-0 border-0 bd-example m-0 border-0">

    
    
    <nav class="navbar navbar-expand-lg bg-dark">
      <div class="container-fluid">
        <a class="navbar-brand" href="#" style="color:white; font-style:bold;">Krish-Chem</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav me-auto mb-2 mb-lg-0">
            <li class="nav-item">
              <a class="nav-link " aria-current="page" href="#" style="color:white; font-style:bold;">Home</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#" style="color:white; font-style:bold;">About Us</a>
            </li>
            <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle active" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false" style="color:white; font-style:bold;">
                products
              </a>
              <ul class="dropdown-menu">
                <li><a class="dropdown-item" href="#">Action</a></li>
                <li><a class="dropdown-item" href="#">Another action</a></li>
                <li><hr class="dropdown-divider"></li>
                <li><a class="dropdown-item" href="#">Something else here</a></li>
              </ul>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#" style="color:white; font-style:bold;">Contact Us</a>
              </li>
        </div>
      </div>
    </nav>
    
    <div class="container-fluid" style="background-color:black; height: 250px;">
      <img src="https://img.freepik.com/free-photo/contact-us-communication-support-service-assistance-concept_53876-128103.jpg?w=2000" style="width:100%;min-height:250px;max-height:250px;"/>
        </div>   
    <!-- End Example Code -->
    <div class="container-fluid mt-3">
  
      <div class="row" style="width:100%;">
      <div class="col col-xl-4 col-lg-4 col-md-4 col-sm-4 text-dark" >
      <div class="card text-bg-success" style="height:100%;">
        <img src="https://plus.unsplash.com/premium_photo-1661775434014-9c0e8d71de03?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=1170&q=80" class="card-img-top" alt="..." style="width:100%;">
        <div class="card-body">
        <p>
           <p style="font-style:Bold;font-size: 1rem;">Name:Krish-Chem</p>
           <p style="font-style:Bold; font-size: 1rem;">Address:Tadipatri, Anantapur District</p>
           <p style="font-style:Bold;font-size: 1rem;">State: Andhra Pradesh</p>
           <p style="font-style:Bold;font-size: 1rem;">Country: India</p>
        
        </div> 
        
      </div>
      </div>
      <div class="col col-xl-4 col-lg-4 col-md-4 col-sm-4">
      <div class="card text-bg-success" style=" height:100%;">
        <img src="https://media.istockphoto.com/id/1499283016/photo/chief-executive-officer-ceo-business-concept-on-virtual-screen.jpg?s=2048x2048&w=is&k=20&c=kpqzvypIltlbKydf1ymQ3nN7YOGjuRZSF-rMY4EEkRg=" class="card-img-top" alt="..." style="width:100%;">
    
        <div class="card-body text-dark">
        <p><i class="fa-solid fa-phone" style="font-size:2rem;color:white;"></i></p>
          <p style="font-weight:Bold;font-size: 1rem; color:white;">CEO: Jamindar Makam</p>
          <p style="font-weight:Bold;font-size: 1rem;">Mobile No: +91-9100833723</p>
          <p style="font-weight:Bold;font-size: 1rem;">Office No:08556-222237</p>
        
        
        </div> 
       
      </div>
      
      </div>
      <div class="col  col-xl-4 col-lg-4 col-md-4 col-sm-4">
      <div class="card text-bg-success" style="height:100%;" >
      <img src="https://images.theconversation.com/files/521818/original/file-20230419-18-6zjdof.jpeg?ixlib=rb-1.1.0&q=45&auto=format&w=926&fit=clip" class="card-img-top" alt="..." style="width:100%;">
    
        <div class="card-body">
        <p class="text-dark-100" style="padding-top:2px;font-size:bold"> Other Contact Links</p>
        <div class="icons" style="display:flex;">
        <p><a href="#" class="symbols" ><i class="fa-brands fa-facebook" style="font-size:2rem;"></i></a></p>
        <p><a href="#" class="symbols" ><i class="fa-solid fa-envelope" style="font-size:2rem; padding-left:10px"></i></a></p>
        </div>
        </div> 
        
      </div>
      
      </div>
    </div>
      
    </div>
  
    <form class="needs-validation was-validated mt-3" novalidate="">
      <div class="row mb-4 align-items-center">
        <div class="col-auto">
          <label for="inputName6" class="col-form-label">Name</label>
        </div>
        <div class="col-auto">
          <input
            type="text"
            id="inputName6"
            class="form-control"
            aria-describedby="inputHelpInline"
            fdprocessedid="mi4bx"
            required=""
            spellcheck="false"
            data-ms-editor="true"
          />
          <div class="invalid-feedback">
            Mandatory : Required to fill in your name.
          </div>
          <div class="valid-feedback">Looks Good!</div>
          </div>
          <div class="col-auto">
            <span id="inputHelpInline" class="form-text">
              Please enter your name here.
            </span>
          </div>
        
      </div>
      <div class="row mb-3 align-items-center">
        <div class="col-auto">
          <label for="inputEmail6" class="col-form-label">Email ID</label>
        </div>
        <div class="col-auto">
          <input
            type="email"
            id="inputEmail6"
            class="form-control"
            aria-describedby="emailHelpInline"
            fdprocessedid="mi4bx"
            required=""
          />
          <div class="invalid-feedback">
            Mandatory : Required to fill in your name.
          </div>
          <div class="valid-feedback">Looks Good!</div>
        </div>
        <div class="col-auto">
          <span id="emailHelpInline" class="form-text">
            Please enter your working email ID, which will be used to contact
            you back with an answer to your query.
          </span>
        </div>
      </div>
  
      <div class="row mb-4 align-items-center">
        <div class="col-auto">
          <label for="inputPhone6" class="col-form-label">ContactNo</label>
        </div>
        <div class="col-auto" style="margin-left: -5px">
          <input
            type="text"
            id="inputPhone6"
            class="form-control"
            aria-describedby="phoneHelpInline"
            fdprocessedid="mi4bx"
            required=""
          />
          <div class="invalid-feedback">
            Mandatory : Required to fill in your contact number
          </div>
          <div class="valid-feedback">Looks Good!</div>
        </div>
        <div class="col-auto">
          <span id="phoneHelpInline" class="form-text">
            Please enter your phone number for contacting you regarding our
            products and queries related to it.
          </span>
        </div>
      </div>
      <div class="row mb-3 align-items-center">
        <div class="col-auto">
          <label for="validationTextarea" class="col-form-label">Query</label>
        </div>
        <div class="col-auto">
          <textarea
            class="form-control"
            id="validationTextarea"
            placeholder="Enter your query here."
            spellcheck="false"
            value="dfger"
            data-ms-editor="true"
            fdprocessedid="f9pebg"
            required=""
          ></textarea>
          <div class="invalid-feedback">
            Please enter a message in the textarea.
          </div>
          <div class="valid-feedback">
            Please make sure to check your query before submitting it.
          </div>
          </div>
          <div class="col-auto">
            <span id="queryHelpInline" class="form-text">
              Please enter your query here and we will revert back to you with
              an answer to your provided email id.
            </span>
          </div>
        </div>
      
      <div class="col-12">
        <button class="btn btn-primary" type="submit" fdprocessedid="qfcb49">
          Submit form
        </button>
      </div>
    </form>

    <div class="container-fluid text-center text-white bg-light mt-1" style="font-family:'Poppins',sans-serif; background:linear-gradient(to right,#24243e,#302b63,#0f0c29);">
      <div class="row">
        <div class="col">
          <p class="font0 btLogo">
            <img
              src="https://www.anda-chem.com/themes/tlk/public/assets/img/common/topLogo.png"
              style="width: 10rem; height: 5 rem; margin-left: 20 rem"
              alt=""
            />
          </p>
          <p style="font-size: 0.8rem; font-weight: bold">Monday to Saturday</p>
          <p style="font-size: 0.8rem; font-weight: bold">
             09:00 AM- 18:00 PM
          </p>
         <p>
                <a href="#"><i class="fa-solid fa-envelope"></i></a>
                <a href="#" style="margin-left:5px;"><i class="fa-brands fa-facebook"></i></a>
              </p>
            
            
              
            
          
        </div>
        <div class="col">
          <p style="font-size: 0.8rem; font-weight: bold;">
            Name: Jamindar Makam
          </p>
          <p style="font-size: 0.8rem; font-weight: bold;">
            Address:-KrishChem, Tadipatri,Anantapur District
          </p>
          <p style="font-size: 0.8rem; font-weight: bold;">Post-Code:515411</p>
          <p style="font-size: 0.8rem; font-weight: bold;">
            State: Andhra Pradesh
          </p>
          <p style="font-size: 0.8rem; font-weight: bold;">Country: India</p>
        </div>
        
  
  
      </div>
    </div>
       
  </body>
</html>