<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/css/bootstrap.min.css" rel="stylesheet">
    <link href="https://getbootstrap.com/docs/5.3/assets/css/docs.css" rel="stylesheet">
    <title>KrishChem Products</title>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/js/bootstrap.bundle.min.js"></script>
    <script
      src="https://kit.fontawesome.com/787cba0005.js"
      crossorigin="anonymous"
    ></script>
    <style>

.starter .starter-img {
  width:100%;
  height: 100px;
  animation-name: example;
  animation-duration: 4s;
  display: block;
  align-items: center;
  margin-top:2px;
  
}
.starter .company-name
{
font-size:40px;
text-align:center;
animation-name:text-example;
animation-duration:4s;
display:absolute;
color:white;
font-weight: bold;
animation-fill-mode: forwards;
}
@keyframes example {
  from {opacity:0;}
  to {opacity: 1;}
}

@keyframes text-example
{
to{transform:translate(0rem,-13rem);}
}




.dropdown:hover .dropdown-menu{
    display: flex;
    float:left;
   
}

.dropdown-item:hover{
  background-color: green;
  color:white;
  transition-duration: 0.5s;
  display:flex;
  float:left;
 }
 .btn-group .btn:focus
 {
    background-color: yellow;
    color:black;
    font-weight: bold;
 }


    </style>
  </head>
  <body>

    
    
    <nav class="navbar navbar-expand-lg bg-dark">
      <div class="container-fluid">
        <a class="navbar-brand" href="#" style="color:white; font-style:bold;">KRISHCHEM</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav me-auto mb-2 mb-lg-0">
            <li class="nav-item active">
              <a class="nav-link " aria-current="page" href="{{ url_for('welcome') }}" style="color:white; font-style:bold;">Home</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="{{ url_for('about_us_page',value='companyprofile') }}" style="color:white; font-style:bold;">About Us</a>
            </li>
            <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle active" onclick="window.location.href='{{ url_for('products',value=5) }}';" role="button" data-bs-toggle="dropdown" aria-expanded="false" style="color:white; font-style:bold;">
                Products
              </a>
              <ul class="dropdown-menu">
                <li><a class="dropdown-item" href="{{ url_for('products',value=0) }}">Water Soluble Fertilisers</a></li>
                <li><a class="dropdown-item" href="{{ url_for('products',value=3) }}">Micro Nutrients</a></li>
                <li><hr class="dropdown-divider"></li>
                <li><a class="dropdown-item" href="{{ url_for('products',value=4) }}">Growth Promoters</a></li>
              </ul>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="{{ url_for('contactus')  }}" style="color:white; font-style:bold;">Contact Us</a>
              </li>
        </div>
      </div>
    </nav>
    
        
    <!-- End Example Code -->

    <div class="container-fluid bg-light" style="height:20rem;" >
        <div class="starter" >
        <img class="img-fluid starter-img" src="https://lh3.googleusercontent.com/drive-viewer/AITFw-xgYH-Qv8Aq3mWxzPg4XnnFbq1eFz9pttg6IbN8zvMUGVNR_t-d2GuaxxY1kkyuIk-FeL-Tb9W9Lg1JgD6He2CPGut8xQ=s1600" alt="" style="width:100%; height:20rem; object-fit: cover;"/>
        <p class="company-name" style="color: rgb(57, 162, 73);">KRISHCHEM FERTILISERS </p>
        </div>
        </div>
        <div class="container-fluid" style='height:fit-content;'>
            <h4 class='text-center'style="width:100%;">Our Products</h4>
            <div class="row" style="width:100%;">
              <div class=" col-sm-12 col-md-4 col-lg-4 h-100 mt-1 mr-2" >
                <div class="card" style="width:100%; ">
                  <img
                    src="https://lh3.googleusercontent.com/drive-viewer/AITFw-zewLGYS_bB8zwfSbAX2fC3ss40ocxouLLRJ8UwDLJvJDUi-4DHP1VENTwqP1qZDwUy1VgE4rDorrRvKFLwT-5JHZdwSw=s1600"
                    class="card-img-top" style="height:80%;"
                    alt="..."
                  />
                  <div class="card-body bg-success text-white">
                    <h5 class="card-title text-center" style="width:100%;">Water Soluble Fertilizers</h5>
                    <p class="card-text">
                      Water soluble fertilizers are fertilizers that can be dissolved in water and are applied directly to the plant through drip irrigation and foliar application to increase nutrient use efficiency. 
                      <a class="btn btn-link text-white" data-bs-toggle="collapse" href="#collapseExample" role="button" aria-expanded="false" aria-controls="collapseExample">
                        Read More
                      </a>
                    </p>
                    <div class="collapse" id="collapseExample">
                      <div class="card card-body bg-success">
                        Water soluble fertilizers are based on the three essential plant macronutrients: nitrogen (N), phosphorus (P), and potassium (K). Out of the total of sixteen elements necessary to sustain plant life, N-P-K will always be the leading ingredients of water soluble fertilizers.
                      </div>
                    </div>
                    <div class="text-center" style="width:100%;">
                    <a href="{{ url_for('products',value=0) }}" class="btn btn-primary">Our Products</a></div>
                  </div>
                </div>
              </div>
              <div class=" col-sm-12 col-md-4 col-lg-4  mt-1 mr-2 " >
                <div class="card h-100" style="width:100%; " >
                  <img
                    src="https://lh3.googleusercontent.com/drive-viewer/AITFw-yELOSUKQ8p9szGL8mkOTitYFiOjHngDFvdaNc6aduZSwaip6btmph7f8vBoDVPMlLCfIlyga7z63HXxfkJWLomU9Kr=s1600"
                    class="card-img-top"
                    alt="..."
                  />
                  <div class="card-body bg-success text-white">
                    <h5 class="card-title text-center" style="width:100%;">MicroNutrients</h5>
                    <p class="card-text">
                      Micronutrients play a supporting role in overall plant health and development. Micronutrients promote essential plant processes and growth, which translates into nutrient-rich food for animals and humans.
                      <a class="btn btn-link text-white" data-bs-toggle="collapse" href="#micronutrients" role="button" aria-expanded="false" aria-controls="collapseExample">
                        Read More
                      </a>
                    </p>
                    <div class="collapse" id="micronutrients">
                      <div class="card card-body bg-success">
                      Micronutrients include boron, chlorine, copper, iron, manganese, molybdenum and zinc, which are often in short supply for growing crops. 
                      </div>
                    </div>
                    <div class="text-center" style="width:100%;">
                    <a href="{{ url_for('products',value=5) }}" class="btn btn-primary">Our Products</a></div>
                  </div>
                </div>
              </div>
              <div class=" col-sm-12 col-md-4 col-lg-4 mt-1 mr-2 "  >
                <div class="card h-100" style="width:100%; " >
                  <img
                    src="https://lh3.googleusercontent.com/drive-viewer/AITFw-xeJPw5EWmlsqSgFDKcfpEeIXeNmpADajlz2JFmAAgqCug_p8IXr3r64tWPOdIpWZVdLTU8BFB7sZLjT3IVvIg5lsOq=s1600"
                    class="card-img-top"
                    alt="..."
                  />
                  <div class="card-body bg-success text-white">
                    <h5 class="card-title text-center" style="width:100%;">Growth Promoters</h5>
                    <p class="card-text">
                      Growth promoters are natural fertilizers designed aiming the overall growth of the plants. The growth promoters are intended to accelerate the rate of growth and maturation of crops or plants.
                      <a class="btn btn-link text-white" data-bs-toggle="collapse" href="#growthpromoters" role="button" aria-expanded="false" aria-controls="collapseExample">
                        Read More
                      </a>
                    </p>
                    <div class="collapse" id="growthpromoters">
                      <div class="card card-body bg-success">
                      These highly effective growth promoters develop crops by regulating their metabolic activities from root to the leaves. The product is available in different specifications designed for specific needs. Plant growth regulators play an important role in the production of high-quality trees and fruit.
                      </div>
                    </div>
                   
                    <div class="text-center" style="width:100%;">
                    <a href="{{ url_for('products',value=4) }}" class="btn btn-primary">Our Products</a></div>
                  </div>
                </div>
              </div>
            </div>
          </div>
           
          <div class="container-fluid mt-2 px-4 text-white" style=" height:fit-content; background-color: #a0aeab;">
            <h5 style='width:100%; text-align:center;'>{{details[0].name}}</h5>
            <div class="row" style="height:100%;">
              <div class=" col-12 col-md-7 overflow-auto" style="height: 14rem;">
                
                <div class="" style="font-family: Arial, Helvetica, sans-serif;">
                {{details[0].information}}
                </div>
              </div>
              <div class="col-12 col-md-5" style="height:100%;">
               
                  <img
                    src="https://lh3.googleusercontent.com/drive-viewer/AITFw-xeJPw5EWmlsqSgFDKcfpEeIXeNmpADajlz2JFmAAgqCug_p8IXr3r64tWPOdIpWZVdLTU8BFB7sZLjT3IVvIg5lsOq=s1600"
                    class="card-img"
                    alt="..."
                    style="height: 16rem; object-fit: contain;"
                  />
                
              </div>
            </div>
          </div>

          <div class="container-fluid mt-1 text-white bg-success" style=" height:fit-content;">
            
            <div class="row" style="height:100%;">
              <div class=" col-12 col-lg-6" style="height:100%;">
                
                <div class="" style="font-family: Arial, Helvetica, sans-serif;">
                  
                  <div class="card h-100" style="width:100%;height:25rem; padding-left:-2rem; " >
                    <img
                      src="https://lh3.googleusercontent.com/drive-viewer/AITFw-zrQX609F0Rk39Naaq2otweEYq1yaN41lxj5hleXLOu0Z4gwpqfRE1xe4erIW0rDWRaTU5F4ommG2bqkzn8L1t5OpIy=s2560"
                      class="card-img-top"
                      alt="..."
                      
                      style="height:25rem; width:100%;object-fit:contain;"
                    />
                    
                  </div>
                  
                </div>
              </div>
              <div class="col-12 col-lg-6 d-flex justify-content-center" style="height:100%; ">
                
                <div id="carouselExampleInterval" class="carousel slide pointer-event " data-bs-ride="carousel" style="width:20rem; height:25rem;background-color: black;">
                  <div class="carousel-inner" >
                    <div class="carousel-item active" data-bs-interval="2000" >
                      <img src="https://images.ctfassets.net/oax5w1uuj25z/3gSmI2ZzPKeUoIa2M1FBpp/dd0584d8ff0c9c492861491c230a77c3/krishposhakimage__1_.png" class="d-block w-100" alt="..." style="height:25rem; " >
                    </div>
                    <div class="carousel-item " data-bs-interval="2000">
                      <img src="https://images.ctfassets.net/oax5w1uuj25z/6fWT2nBdCU1qApKsmb3l1I/f5f201202db90c52fb10c511bad6f3c3/KrishEnergy__1_.png" class="d-block w-100" alt="..." style="height:25rem; ">
                    </div>
                    <div class="carousel-item" data-bs-interval="2000">
                      <img src="https://images.ctfassets.net/oax5w1uuj25z/7rSo1b4YoRv62G2sPhRJa5/ae1bdff021a06c0b9e5736d379067b02/KrishPower__1_.png" class="d-block w-100" alt="..." style="height:25rem; ">
                    </div>
                  </div>
                  <button class="carousel-control-prev" type="button btn-dark" data-bs-target="#carouselExampleInterval" data-bs-slide="prev" fdprocessedid="lzi20m">
                    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                    <span class="visually-hidden">Previous</span>
                  </button>
                  <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleInterval" data-bs-slide="next" fdprocessedid="h0d7en">
                    <span class="carousel-control-next-icon" aria-hidden="true"></span>
                    <span class="visually-hidden">Next</span>
                  </button>
                </div>
              
              </div>
          </div>
          </div>

         
 




          
          
          
          
          
          
          <div class="container-fluid text-center text-white mt-1 " style="width:100%;font-family:'Poppins',sans-serif; background-color:#595959;">
                <div class="row" style="width:100%;">
                  <div class="col">
                    <p class="font0 btLogo">
                      <img
                        src="https://www.anda-chem.com/themes/tlk/public/assets/img/common/topLogo.png"
                        style="width: 10rem; height: 5 rem; margin-left: 20 rem"
                        alt=""
                      />
                    </p>
                    <p style="font-size: 0.8rem; font-weight: bold">Monday to Saturday</p>
                    <p style="font-size: 0.8rem; font-weight: bold">
                       09:00 AM- 18:00 PM
                    </p>
                   <p>
                          <a href="#"><i class="fa-solid fa-envelope"></i></a>
                          <a href="#" style="margin-left:5px;"><i class="fa-brands fa-facebook"></i></a>
                        </p>
                      
                      
                        
                      
                    
                  </div>
                  <div class="col">
                    <p style="font-size: 0.8rem; font-weight: bold;">
                      Name: Jamindar Makam
                    </p>
                    <p style="font-size: 0.8rem; font-weight: bold;">
                      Address:-KrishChem, Tadipatri,Anantapur District
                    </p>
                    <p style="font-size: 0.8rem; font-weight: bold;">Post-Code:515411</p>
                    <p style="font-size: 0.8rem; font-weight: bold;">
                      State: Andhra Pradesh
                    </p>
                    <p style="font-size: 0.8rem; font-weight: bold;">Country: India</p>
                  </div>
                  
            
            
                </div>
              </div>
              
              
  </body>
</html>